PORT=5000
JWT_SECRET=change-this-in-production
ADMIN_EMAIL=admin@shawarmainn.local
ADMIN_PASSWORD=admin12345
VITE_AUTH_MODE=local
VITE_GOOGLE_CLIENT_ID=315925671114-e7qoto6dkg48ch1onv8ohom795p649bh.apps.googleusercontent.com
VITE_SUPABASE_URL=https://qyieaexbyhdkujzdpdiv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1FTPde65bxQFTsAmZamc9w_1WhUBpuC
VITE_OWNER_WHATSAPP=919003195805
VITE_SWIGGY_URL=https://www.swiggy.com/city/chennai/shawarma-inn-poonamallee-high-rd-madhavaram-rest420159
VITE_ZOMATO_URL=https://www.zomato.com/chennai/shawarma-inn-madhavaram
